body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.ano {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.calendario {
    background: #fff;
    padding: 10px;
}

.mes {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.semana,
.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.semana div,
.dias div {
    border: 1px solid #333; /* QUADRICULADO */
    text-align: center;
    padding: 8px 0;
    box-sizing: border-box;
}

.semana div {
    background: #eaeaea;
    font-weight: bold;
}

.vazio {
    background: #fafafa;
}
